body {
    font-family: 'roboto', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

h1,
h2,
h4,
p {
    margin: 0;
}

span {
    font-weight: 700;
}

.container {
    padding: 10px;
    width: 1183px;
    margin: 0 auto;
}

.title {
    font-size: 49px;
    color: #221f1f;
    font-weight: 700;
    margin: 0;
}

.page-content--container {
    display: flex;
    justify-content: space-between;
}

.page-content {
    margin-bottom: 50px;
}

.page-block {
    display: flex;
}

.sidebar {
    flex: 1;
    margin-right: 14px;
}

.sidebar--crew {
    width: 272px;
    height: 662px;
    margin-right: 20px;
}

.page-block .sidebar {
    width: 283px;
    margin-right: 15px;
}

.main-page-text {
    width: 865px;
}

.main-page .pagination {
    margin-bottom: 52px;
}

.main-content {
    width: 886px;
}

.main-content--crew .crew {
    width: 888px;
}

.page-block .nav--horizontal {
    margin-bottom: 18px;
}