.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.contacts__phone {
	font-size: 21px;
	font-weight: 700;
	color: #fff;
	display: block;
	margin-bottom: 4px;
}

.contacts__times-schedule {
	font-size: 14px;
	font-weight: 700;
	opacity: 0.7;
	color: #fff;
	display: block;
	text-decoration: underline;
}

.contacts__times {
	position: relative;
}

.contacts__dropdown {
	position: absolute;
	right: -10000px;
	opacity: 0;
	width: 150px;
	top: 100%;
	text-align: center;
	font-size: 14px;
	padding: 15px 10px;
	background-color: #fff;
	box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
	border-radius: 5px 0 5px 5px;
	margin-top: 17px;
	transition: opacity 0.4s;
}

.contacts__times:hover .contacts__dropdown {
	right: 0;
	opacity: 1;
}

.contacts__dropdown:before {
	border: 10px solid transparent;
	border-bottom-color: #fff;
	border-top-width: 0px;
	top: -10px;
	right: 0;
}

.contacts__dropdown:after {
	height: 20px;
	top: -20px;
	left: 0;
	right: 0;
}

.contacts__dropdown:before,
.contacts__dropdown:after {
	content: "";
	display: block;
	position: absolute;
}

.contacts__days {
	color: #1c5bc3;
	font-weight: 700;
	margin-bottom: 10px;
}