.footer {
	background: #4b73b5;
	color: #fff;
}

.footer__container {
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__desc {
	font-size: 14px;
	width: 237px;
	line-height: 18px;
}

.footer__desc-link {
	color: #fff;
	font-weight: 700;
	text-decoration: underline;
}

.socials {
	display: flex;
	flex-direction: column;
}

.socials__desk {
	margin-bottom: 9px;
	font-size: 14px;
	font-weight: 700;
}

.socials__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.socials__item {
	margin-right: 23px;
	border-radius: 50%;
	background: #d2def3;
	transition-duration: .3s;
}

.socials__item:hover {
	background: #fff;
}

.socials__link {
	display: block;
	width: 20px;
	height: 20px;
	background: center center no-repeat;
}

.socials__item:last-child {
	margin-right: 0;
}

.socials__link--icon--vk {
	background-image: url(../../img/vk.png);
}

.socials__link--icon--fb {
	background-image: url(../../img/fb.png);
}

.socials__link--icon--gl {
	background-image: url(../../img/gl.png);
}

.socials__link--icon--tw {
	background-image: url(../../img/tw.png);
}

.socials__link--icon--gm {
	background-image: url(../../img/gm.png);
}

.socials--modiff {
	align-items: center;
}

.socials--modiff .socials__item {
    width: 22px;
    height: 22px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.socials--modiff .socials__link {
	background-image: url(../../img/css_sprite.png);
}

.socials--modiff .socials__link--icon--vk {
	background-position: -99px -10px;
	width: 12px; 
	height: 7px;
}

.socials--modiff .socials__link--icon--fb {
	background-position: -10px -10px;
	width: 6px; 
	height: 13px;
}

.socials--modiff .socials__link--icon--gl {
	background-position: -131px -10px;
	width: 15px; 
	height: 9px;
}

.socials--modiff .socials__link--icon--tw {
	background-position: -36px -10px;
	width: 11px; 
	height: 9px;
}

.socials--modiff .socials__link--icon--gm {
	background-position: -67px -10px;
	width: 12px; 
	height: 9px;
}



