.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -150px;
}

.pagination__display {
	color: #656464;
	font-size: 14px;
	margin-right: 13px;
}

.pagination__paper,
.pagination__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination__btn-before,
.pagination__btn-after {
	text-decoration: none;
}

.pagination__btn-before,
.pagination__list,
.pagination__item {
	margin-right: 13px;
}

.pagination__link {
	font-size: 14px;
	font-weight: 700;
	color: #221f1f;
}

.pagination__link:hover {
	color: #4b73b5;
	transition-duration: 0.2s;
}

.pagination__item:last-child {
	margin-right: 0;
}

.pagination__item--active .pagination__link {
	background-color: #4b73b5;
	color: #fff;
	border-radius: 3px;
	padding-left: 8px;
	width: 25px;
	line-height: 25px;
	display: block;
}

.pagination__btn-before {
	color: #656464;
}

.pagination__btn-after {
	color: #221f1f;
	font-weight: 700;
}