.reviews {
    margin-bottom: 13px;
}

.reviews-list {
    display: flex;
    flex-direction: column;
}

.reviews-list__item {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e8e9ed;
}

.review__img {
    margin-right: 28px;
	flex-shrink: 0;
}

.reviews-list__item:last-child {
    margin-bottom: 0;
}

.reviews-list__item--img .avatar__pic {
    filter: grayscale(100%);
    opacity: 0.2;
}

.review__disc {
    width: 100%;
}

.review__disc div {
    color: #b5b5b5;
    font-size: 14px;
    margin-bottom: 9px;
}

.review__disc h4 {
    font-weight: 700;
    margin-bottom: 11px;
    letter-spacing: 1.1px;
}

.review__disc p {
    line-height: 30px;
}

.reviews-list__item:last-child {
    border-bottom: none;
}

.tittle--reviews {
    margin-bottom: 39px;
}