.tech_support {
	display: flex;
	justify-content: center;
	background: url(../img/fon.png) repeat #4bb56b;
	padding: 30px 0;
	line-height: 30px;
	color: #fff;
	margin-bottom: 60px;
}

.tech_support__info {
	max-width: 650px;
	font-size: 18px;
}

.tech_support__info a {
	color: #fff;
	text-decoration: underline;
}

.tech_support a,
.tech_support span {
	font-weight: 700;
}